version: '3.8'

services:
  coordinator:
    build:
      context: .
      dockerfile: coordinator/Dockerfile
    container_name: coolest-mapreduce-coordinator
    ports:
      - "50051:50051"
    volumes:
      - mapreduce-data:/mapreduce-data
    networks:
      - mapreduce-net
    restart: unless-stopped

  worker-1:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: coolest-mapreduce-worker-1
    depends_on:
      - coordinator
    deploy:
      resources:
        limits:
          cpus: '1.0'
    environment:
      - WORKER_ID=1
      - COORDINATOR_HOST=coordinator:50051
      - WORKER_PORT=50052
    volumes:
      - mapreduce-data:/mapreduce-data
    networks:
      - mapreduce-net
    restart: unless-stopped

  worker-2:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: coolest-mapreduce-worker-2
    depends_on:
      - coordinator
    deploy:
      resources:
        limits:
          cpus: '1.0'
    environment:
      - WORKER_ID=2
      - COORDINATOR_HOST=coordinator:50051
      - WORKER_PORT=50053
    volumes:
      - mapreduce-data:/mapreduce-data
    networks:
      - mapreduce-net
    restart: unless-stopped

  worker-3:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: coolest-mapreduce-worker-3
    depends_on:
      - coordinator
    deploy:
      resources:
        limits:
          cpus: '1.0'
    environment:
      - WORKER_ID=3
      - COORDINATOR_HOST=coordinator:50051
      - WORKER_PORT=50054
    volumes:
      - mapreduce-data:/mapreduce-data
    networks:
      - mapreduce-net
    restart: unless-stopped

  worker-4:
    build:
      context: .
      dockerfile: worker/Dockerfile
    container_name: coolest-mapreduce-worker-4
    depends_on:
      - coordinator
    deploy:
      resources:
        limits:
          cpus: '1.0'
    environment:
      - WORKER_ID=4
      - COORDINATOR_HOST=coordinator:50051
      - WORKER_PORT=50055
    volumes:
      - mapreduce-data:/mapreduce-data
    networks:
      - mapreduce-net
    restart: unless-stopped

volumes:
  mapreduce-data:
    name: mapreduce-data

networks:
  mapreduce-net:
    driver: bridge
    name: mapreduce-net
